@media screen and (max-width: 1200px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }

  #contact,
  #projects {
    height: fit-content;
  }

  article {
    display: flex;
    justify-content:flex-start;
    width: 10rem;
    gap: 0.5rem;
}

.about-pic {
max-height: 99%;
    width: auto;
    margin-top: -1rem;

}
.about-title {
    margin-top: -1rem;
}

.projects-title {
  margin-bottom: 0.5rem;
}

.roxy-photo-1 {
    max-width: 150%;
    height: auto;
}

.badge-details-container {
    display: flex;
    position: relative;
}

}

@media screen and (max-width: 1000px) {
  #desktop-nav {
    display: none;
  }

  .badge-details-container {
      display: flex;
      position: relative;
  }

  .roxy-photo-1 {
      max-width: 150%;
      height: auto;
  }

.about-title {
    margin-top: -1rem;
}
  .projects-title {
    margin-bottom: 0.5rem;
  }

  #hamburger-nav {
    display: flex;
    position: relative;
    z-index: 9999;
  }

.menu-links {
  border-radius: 1rem;
  margin: 1rem;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgba(181, 181, 181);
}

  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px; 
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  .article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgb(163, 163, 163);
    justify-content: center;
}

  .hobbies {
    height: 50%;
      width: auto;
      display: flex;
      justify-content: center;
      margin: auto;
      white-space: nowrap
  }

  article {
    display: flex;
    justify-content:flex-start;
    width: 10rem;
    gap: 0.5rem;
}

.about-pic {
    max-height: 99%;
        width: auto;
margin-top: -1rem;

}

}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }

  .projects-title {
    margin-bottom: 0.5rem;
  }

  #hamburger-nav {
    display: flex;
    position: relative;
    z-index: 9999;
  }

.menu-links {
  border-radius: 1rem;
  margin: 1rem;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgba(181, 181, 181);
}

  .contact-info-upper-container {
    gap: 1rem;
  }

  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
    margin: 3rem;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }

  .hobbies-photo {
    display: none;
  }

  .hobbies {
    height: 50%;
      width: auto;
      display: flex;
      justify-content: center;
      margin: auto;
      white-space: nowrap;
  }

  .projects-details-container {
    margin-top: 1rem;
  }

  article {
    display: flex;
    justify-content:flex-start;
    width: 10rem;
    gap: 0.5rem;
}

.details-container-hobbies {
  display: flex;
  justify-content: center;
  margin-right: 40px;

}

}
